---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nvidia-device-plugin
  namespace: kube-system
spec:
  interval: 15m
  chart:
    spec:
      # renovate: registryUrl=https://nvidia.github.io/k8s-device-plugin
      chart: nvidia-device-plugin
      version: 0.17.4
      sourceRef:
        kind: HelmRepository
        name: nvidia-device-plugin
        namespace: flux-system
      interval: 15m
  # https://github.com/NVIDIA/k8s-device-plugin/blob/main/deployments/helm/nvidia-device-plugin/values.yaml
  values:
    image:
      repository: nvcr.io/nvidia/k8s-device-plugin
      tag: v0.17.4
    runtimeClassName: nvidia
    nodeSelector:
      nvidia.feature.node.kubernetes.io/gpu: "true"
