---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ollama
spec:
  chartRef:
    kind: OCIRepository
    name: ollama
  interval: 1h
  values:
    controllers:
      ollama:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/ollama/ollama
              tag: 0.13.3
            env:
              OLLAMA_HOST: "0.0.0.0"
              OLLAMA_ORIGINS: "*"
              OLLAMA_MODELS: &modelPath "/models"
              OLLAMA_KEEP_ALIVE: "24h"
              OLLAMA_LOAD_TIMEOUT: "600"
              OLLAMA_CONTEXT_LENGTH: "8192"
              NVIDIA_DRIVER_CAPABILITIES: all
              NVIDIA_VISIBLE_DEVICES: all
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 11434
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 30
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 500m
                memory: 2Gi
                nvidia.com/gpu: 1
              limits:
                memory: 16Gi
                nvidia.com/gpu: 1
    defaultPodOptions:
      runtimeClassName: nvidia
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.hades.casa"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
    persistence:
      models:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: *modelPath
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
          - path: /root/.ollama
