---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app speaches
spec:
  chartRef:
    kind: OCIRepository
    name: speaches
  interval: 1h
  values:
    controllers:
      speaches:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/speaches-ai/speaches
              tag: 0.9.0-rc.3-cuda
            env:
              WHISPER__INFERENCE_DEVICE: cuda
              PRELOAD_MODELS: '["istupakov/parakeet-tdt-0.6b-v3-onnx"]'
              LOOPBACK_HOST_URL: "http://localhost:8000"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8000
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 60
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
                nvidia.com/gpu: 1
              limits:
                memory: 8Gi
                nvidia.com/gpu: 1
    defaultPodOptions:
      runtimeClassName: nvidia
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.hades.casa"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
    persistence:
      cache:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /home/ubuntu/.cache/huggingface/hub
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
