---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mc-router
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: mc-router
  values:
    services:
      minecraft:
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: mc-router.hades.casa
          lbipam.cilium.io/ips: 10.4.0.130
        externalTrafficPolicy: Local
