---
customization:
  extraKernelArgs:
    - amd_iommu=on # PCI Passthrough
    - amd_pstate=active # Better CPU frequency scaling for Zen 5
    - sysctl.kernel.kexec_load_disabled=1 # Security hardening
  systemExtensions:
    officialExtensions:
      - siderolabs/amd-ucode # AMD CPU microcode
      - siderolabs/amdgpu # AMD GPU drivers
      - siderolabs/drbd # Miroir DRBD9 Replication
      - siderolabs/nvidia-open-gpu-kernel-modules-production # NVIDIA GPU drivers
      - siderolabs/nvidia-container-toolkit-production # NVIDIA GPU support
