---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: localai
spec:
  chartRef:
    kind: OCIRepository
    name: localai
  interval: 1h
  values:
    controllers:
      localai:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: localai/localai
              tag: v3.8.0-gpu-nvidia-cuda-12
            env:
              F16: "true"
              THREADS: "4"
              CONTEXT_SIZE: "8192"
              API_KEY: "sk-local"
              DEBUG: "true"
              NVIDIA_DRIVER_CAPABILITIES: all
              NVIDIA_VISIBLE_DEVICES: all
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /readyz
                    port: &port 8080
                  initialDelaySeconds: 60
                  periodSeconds: 10
                  timeoutSeconds: 20
                  failureThreshold: 5
              readiness: *probes
              startup:
                enabled: true
                spec:
                  httpGet:
                    path: /readyz
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 20
                  failureThreshold: 120
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
                memory: 2Gi
                nvidia.com/gpu: 1
              limits:
                memory: 24Gi
                nvidia.com/gpu: 1
    defaultPodOptions:
      runtimeClassName: nvidia
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: localai
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.hades.casa"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      models:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /models
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
